#subContentPrinciples {
	margin-top: 20px;
}

#subContentPrivacy {
	margin-top: 20px;
	margin-right: 240px;
}

#sidebar {
	float: right;
	width: 200px;
}

.calloutItem {
	float: right;
	width: 160px;
	font-family: 'DroidSans';
	font-size: 11px;
	padding: 4px 24px 24px 24px;
	margin: 24px auto;
	margin-top: 40px;
	
	border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	
	background-color: rgba(255,255,255,0.4);
	border-top: 1px solid rgba(255,255,255,0.8);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	
	//display: inline;
}